services:
  mysql:
    image: mysql:8.0
    container_name: projetmpisi-mysql
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=projetmpisi_db
    ports:
      - "3307:3306"
    networks:
      - mpisi-network
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    build: .
    container_name: projetmpisi-app
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=jdbc:mysql://mysql:3306/projetmpisi_db
      - DATABASE_USER=root
      - DATABASE_PASSWORD=
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - mpisi-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - mpisi-network
    depends_on:
      - app

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - mpisi-network
    depends_on:
      - prometheus

networks:
  mpisi-network:
    driver: bridge

volumes:
  mysql-data:
  prometheus-data:
  grafana-data: